# ===================================
# Recifood Environment Configuration
# ===================================

# Database PostgreSQL
DB_NAME=recifood
DB_USER=recifood_user
DB_PASSWORD=recifood_secret_2026
DB_PORT=5432

# Ports d'accès
FRONTEND_PORT=8080
BACKEND_PORT=8000

# Backend Python
APP_ENV=development
